@import '../../../scss/index.scss';
.skills-list {
    h2 {
        text-align: center;
        color: $font-light;
        font-weight: bold;
        font-size: 32px;
        text-transform: uppercase;
        margin: 20px auto;
    }
    &__item {
        border: 0;
        background-color: $background-dark-light-web;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 75%);
        -webkit-box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 75%);
        border-bottom: 0px!important;
        .ant-avatar {
            border-radius: 15%!important;
            width: 50px;
            height: 50px;
        }
        h4 {
            color: $font-grey-light;
            font-weight: bold;
        }
        .ant-list-item-meta-description {
            color: $primary-color-dark;
        }
    }
}