@import '../../../../scss/index.scss';
.posts-list-web {
    margin: 50px 0;
    >h1 {
        text-align: center;
        color: $font-light;
        margin: 50px 0;
    }
    .ant-list-item {
        display: grid;
        grid-template-columns: repeat(3, 20% 60% 20%);
        padding: 30px;
    }
    .post {
        color: $font-light;
        &__date {
            align-items: center;
            background-color: $primary-color;
            border-radius: 5px;
            text-transform: capitalize;
            padding: 5px 15px;
            margin: 0 auto;
        }
        .ant-list-item-meta-title {
            margin-left: 10px;
            width: 800px;
            color: $font-light;
            font-size: 16px;
            &:hover {
                color: $primary-color-dark;
            }
        }
    }
}