@import '../../../../scss/index.scss';
.list-users {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        &-switch {
            display: flex;
            align-items: center;
            >button {
                margin-right: 20px;
            }
        }
    }
    .ant-switch-checked {
        background-color: $primary-color;
    }
    .ant-btn-primary {
        background: $primary-color;
        border-color: $primary-color;
    }
    .users-active {
        background-color: $background-dark-light-web;
        padding: 10px 20px;
        .ant-list-item-meta {
            display: flex;
            align-items: center;
        }
    }
    .ant-list-item-meta {
        &-title {
            color: $primary-color;
        }
        &-description {
            color: $font-grey-light;
        }
    }
}