@import './scss/index.scss';
.success {
    border: 1px solid $success;
    background-color: $background-success !important;
}

.error {
    border: 1px solid $error;
    background-color: $background-error !important;
}

.ant-btn {
    position: inherit;
}

.ant-btn-primary {
    background: $primary-color;
    border-color: $primary-color;
    &:hover {
        background: #fd6d7b;
        border-color: #fd6d7b;
    }
}